/* You CSS goes in here */


.card {
    margin-bottom: 5px;
}




#plantcss {
    cursor: pointer;
    position: relative;
    top: 2%;
    left: 5%;
    width: 15%;
    display: none;
    z-index: 1;
}


#planttissueleafcss {
    cursor: pointer;
    position: absolute;
    top: 25%;
    left: 25%;
    display: none;
    z-index: 2;
    width: 7%;
    height: 50%;
}

#incubatorcss {

    position: absolute;
    top: 17.5%;
    /*23 */
    left: 35%;
    /* 80*/
    width: 15%;
    height: 75%;
    display: none;
    cursor: pointer;

}

#incubatorcss1 {
    position: absolute;
    top: 17.5%;
    left: 35%;
    width: 15%;
    height: 75%;
    cursor: pointer;
    /* stem outline 2D7600 */
    display: none;
}




#harvetplanttissuecss {
    position: absolute;
    top: 30%;
    left: 40%;
    display: none;
    width: 30%;
    height: 45%;
    z-index: 0;
    cursor: pointer;
}




#freezetissuesamplesn2css {
    position: relative;
    top: 5%;
    left: 5%;
    width: 20%;
    cursor: pointer;
    display: none;

}

#extractfrozensamplescss {
    position: absolute;
    top: 1%;
    left: 30%;
    width: 20%;
    cursor: pointer;
    display: none;

}

#quantifymetaboliccss {
    position: absolute;
    top: 15%;
    left: 45%;
    width: 30%;
    cursor: pointer;
    display: none;

}

#generatemetaboliccss {
    position: relative;
    top: 20%;
    left: 2%;
    width: 25%;
    cursor: pointer;
    display: none;
}



#softwarepccss {
    position: absolute;
    top: 18%;
    left: 35%;
    width: 20%;
    cursor: pointer;
    display: none;
}

